* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img{
	display: block;
	max-width: 100%;
}

body {
	background-color: hsl(233, 47%, 7%);
	font-family: 'Lexend Deca', sans-serif;
}
.container {
		display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	b {
		color: hsl(277, 64%, 61%);
	}
	p {
		color: white;
		font-size: 15px;
		font-family: 'Inter', sans-serif;
		text-align: left;
	}
	h1 {
		color: white;
		margin-bottom: 20px;
	}
	.box {
		display: flex;
		text-align: center;
		background-color: hsl(244, 38%, 16%);
		border-radius: 15px;
		justify-content: center;
		// position: relative;
		// top: 15vh;
		// left: 10vh;
		// right: 10vh;
		// display: flex;
		// align-items: center;
		// justify-content: center;

		.foto {
			// height: 90vh;
			// width: 35vw;
			//width: 80vw;
			//height: 50vh;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			justify-content: flex-end;
		}
		.text {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.textparagraph {
			width: 50vh;
			margin-left: 90px;
		}
		.number-box {
			margin: 10px;
			display: inline-block;

			.num {
				margin-top: 10vh;
				font-size: 20px;
				font-weight: bold;
			}
			p {
				text-transform: uppercase;
			}
		}
	}
}
